
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Translations</h1>

  <p>Please choose an active translation to approve or modify.</p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-xs-6">

       {% if form %}
       <form id="TranslationForm" method="POST" class="" action={{ request.path }} role="login">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.text(cols="30", rows="20",class_="form-control") }}
      </div>
      <button type="submit" name="submit_button" value="Save" class="btn btn-default">Save and Continue</button>
      <button type="submit" name="submit_button" value="Translate" class="btn btn-default">Save and Ready to Record</button>

    </form>
    {% endif %}
    </div>
    
    <div class="col-xs-6">
      <p><pre>{{translation.story.text}}</pre></p>
   </div>
  </div><!-- /.row -->
</div>
{% endblock %}

