
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Translations</h1>
  <p>{{story.text}}</p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-xs-6">
      {% for translation in story.translations %}
      <div class=""><h2><a href="{{url_for('.delegate', story_id = story.id, language_id = translation.language.id)}}">{{translation.language.title}} Translation</a></h2>
      <p>{{translation.text}}</p></div>
    {% endfor %}
    </div>
    
    <div class="col-xs-6">
   </div>
  </div><!-- /.row -->
</div>
{% endblock %}

