
{% extends "layout.html" %}
{% block content %}
    <h1>Welcome {{ session.username }}</h1>
    <h3>Stories ready to translate:</h3>
    <ul id="listofstories"></ul>
    {% for story in stories %}
        <li> {{ story.title }}<br>
            {% for language in languages %}
                {% if language != story.language %}
                    <a href="{{url_for('.delegate', story_id = 2, language_id = 1)}}"> {{language.title}} </a> | 
                {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}

