
{% extends "layout.html" %}
{% block content %}
    <h1>Welcome {{ session.username }}</h1>
    <h3>Stories:</h3>
    <ul id="listofstories"></ul>
    {% for story in stories %}
        <li><a href="{{url_for('.story', id = story.id)}}">{{ story.title }}</a>{% if story.ready_to_translate %} Ready to Translate {% else %} {% endif %}  
            {% for translation in story.translations %} *{{translation}} {% endfor %}
        </li>
    {% endfor %}
    </ul>
    <br><br>
    <form method="GET" action="{{ request.path }}new_story"> 
        <button type="submit" name="submit_button" value="New" class="btn btn-default">Create a New Story</button>
    </form>
    {% endblock %}

