
{% extends "layout.html" %}
{% block content %}
    <h1>{{record.translation.story.title}}</h1>
    </h2>Language translation: {{record.translation.story.language}} to {{record.translation.language.title}}</h2>

       {% if form %}
       <form id="RecordForm" method="POST" class="" action={{ request.path }} role="login">
        {{ form.hidden_tag() }}
      <div class="form-group">
        Recording text:<br>{{ form.text(cols="30", rows="20",class_="form-control") }}
      </div>
      <button type="submit" name="submit_button" value="Save" class="btn btn-default">Save</button>
      <button type="submit" name="submit_button" value="Broadcast" class="btn btn-default">Ready To Broadcast</button>
    </form>
    {% endif %}

         <p><pre>{{record.translation.story.text}}</pre></p>

{% endblock %}
